name: Release

on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: write

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]
        python-version: ['3.11.4']
      fail-fast: false
    
    steps:
      - name: Check out Git repository  
        uses: actions/checkout@v4
      
      - name: Get release tag
        id: get-tag
        shell: bash
        run: |
          echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      
      - name: Set up C compiler
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: '0.5.31'
          python-version: ${{ matrix.python-version }}

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install

      - name: Install dependencies
        run: uv sync --all-extras --dev
      
      - name: Install NSIS
        run: choco install nsis -y
      
      - name: Build Windows executable
        run: |
          nuitka --standalone `
            --windows-console-mode=disable `
            --enable-plugin=pyside6 `
            --windows-icon-from-ico=assets/app.ico `
            --output-filename=FinancialAutomation main.py
      
      - name: Build installer
        run: makensis /DPRODUCT_VERSION=${{ steps.get-tag.outputs.tag }} installer.nsi
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Financial_Automation_Setup_${{ steps.get-tag.outputs.tag }}.exe
          path: Financial_Automation_Setup_${{ steps.get-tag.outputs.tag }}.exe
      - name: Upload release
        uses: softprops/action-gh-release@v2
        with:
          files: Financial_Automation_Setup_${{ steps.get-tag.outputs.tag }}.exe

